<ng-container *ngFor="let item of navItemsArray">
  <ng-container [ngSwitch]="helper.itemType(item)">
    <c-sidebar-nav-group
      *ngSwitchCase="'group'"
      [item]="item"
      [ngClass]="item | cSidebarNavItemClass"
      routerLinkActive="show"
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
    >
    </c-sidebar-nav-group>

    <c-sidebar-nav-checkbox
      *ngSwitchCase="'checkbox'"
      [item]="item "
    >
    </c-sidebar-nav-checkbox>

    <c-sidebar-nav-link
      *ngSwitchDefault
      [item]="item"
      [ngClass]="item | cSidebarNavItemClass"
      (linkClick)="hideMobile()"
    >
    </c-sidebar-nav-link>
  </ng-container>
</ng-container>
<ng-content></ng-content>


